

.bars-animation{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-color: #3e4852;
    transform: translateY(-100%);
    animation: show-bars 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0);
    }
}